/*additional styling for user's rendered search history elements*/
.searched-item {
    margin: 8px;
    padding: 3px;
    background-color: grey;
    text-align: center;
    box-shadow: rgba(22, 19, 204, 0.24) 0px 3px 8px;
}

.searched-item:hover {
    cursor: pointer;
    box-shadow: rgba(22, 19, 204, 0.24) 0px 3px 20px;
}

